<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="agn.model.Card" alias="Card"/>
		<typeAlias type="agn.model.Users" alias="Users"/>
	</typeAliases>
	
	<environments default="development"> <!-- 어떻게 연결할것인가 -->
		<environment id="development">
			<transactionManager type="JDBC"/>
			
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@kosta-yu:1521:ORCL"/>
				<property name="username" value="pms_dba"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>		
	</environments>
	
	<mappers>
		<mapper resource="agn/mapper/Alarm.xml"/>
		<mapper resource="agn/mapper/User.xml"/>
	</mappers>
	
</configuration>
